*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background: #000;
}

.container{
    background: rgb(34, 59, 102);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    margin: 3rem;
    box-shadow: 0 0 1rem black;
    border-radius: 1rem;
    padding: 1rem;
    width: 95vw;
    /* border: 1px solid red; */
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50vh; */
    /* width: 60%; */
    margin: 2rem 10rem;
    /* border: 1px solid blue; */
}

button{
    padding: 1rem 2rem;
    background: rgb(0, 187, 255);  
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem; 
    box-shadow: 0 0 5px rgb(31, 49, 81);
}

a{
    text-decoration: none;
    font-weight: bold;
}
