* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima_nova_reg', regular;
    letter-spacing: 0;
}

img {
    width: 100%;
    object-fit: contain;

}

@media screen and (min-width: 1200px){
    body > *{
        padding: 0 5rem;
    }
} 