.container{
    width: 100vw;
    height: 100vh;
    background: url(../assets/images/AdobeStock_87909563.jpg);
    opacity: 80%;

    .layer{
        background: rgba(48, 0, 169, 0.849);
        height: 100%;
    }
}